{% extends "base.html" %}
{% block title %}Memories{% endblock %}
{% block nav_get_user_memories %}active{% endblock %}
{% block content %}
<div class="flex-wrapper-auth">
    <div class="container common-holder">
        <!-- Memories header-->
        <div class="h1-header">   
            <h1>Memories</h1>
        </div>
        <!-- List of memories, three displayed per page -->
        <div class="container" id="memory-list">
            <div id="myBtnContainer">
                <!-- Filters-->
                <div class="row" id="filters">
                    <div class="col-lg-1">
                        <h2 class="h2-header">Filters:</h2>
                    </div>
                    <div class="col-lg-11">
                        <a class="btn btn-light phone-font"  {% if selected == "get_memories" %} id="selected" {% endif %} href="{{ url_for('memories.get_memories') }}"> All Memories</a>
                        <a  class="btn btn-light phone-font" {% if selected == "get_user_memories" %} id="selected" {% endif %} href="{{ url_for('memories.get_user_memories') }}"> My Memories</a>
                    </div>
                </div>   
                <!-- Search area and reset button-->   
                <div class="row">
                    <div class="col-lg-1">
                        <h2 class="h2-header">Search:</h2>
                    </div> 
                    <div class="col-lg-9 col-md-12" id="search-bar">  
                        <form action="{{ url_for('memories.search') }}" method="POST">         
                            <input class="form-control validate" type="text" aria-label="Search" name="query" id="query" minlength="3" required value="{{query}}">
                                <div id="search-and-reset">
                                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                                        <i class="fas fa-search left"></i> Search
                                    </button>
                                    <a class="btn btn-light phone-font" href="{{ url_for('memories.get_memories') }}">Reset</a>
                                </div>    
                        </form>
                    </div> 
                </div>   
            </div>  
            <div class="container">
                <div class="row">
                    <!-- Gallery item, Credit: https://bootstrapious.com/p/bootstrap-photo-gallery  -->
                    {% for memory in memories %}
                    <div class="col col-lg-4 col-md-6 mb-4">
                        <div class="bg-white rounded shadow-sm" id="full-card">
                            <!-- Memory image -->
                            <a href="/get_memory/{{ memory._id }}">
                                <img src="{{ memory.memory_image }}" alt="{{ memory.memory_name }}" class="img-fluid card-img-top">
                            </a>
                            <!-- Memory details -->
                            <div class="p-4 memory-details">
                                <h2> <a href="/get_memory/{{ memory._id }}" class="text-dark">{{ memory.memory_name }}</a></h2>
                                <p class="small text-muted mb-0">Tournament: {{ memory.tournament_name }}</p>
                                <p class="small text-muted mb-0">Description: {{ memory.memory_description }}</p>
                                <p class="small text-muted mb-0">Description: {{ memory.memory_stadium }}</p>
                                <p class="small text-muted mb-0">Date: {{ memory.memory_date }}</p>
                                <p class="small text-muted mb-0">Uploaded By: {{ memory.memory_created_by }}</p>
                                {% if (session.user|lower == memory.memory_created_by|lower) or (user.user_type == "admin_user") %}
                                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                                    <div class="row" id="edit_and_delete_memory_buttons">
                                    {% if (session.user|lower == memory.memory_created_by|lower) %}
                                        <!-- A user who created a memory can edit -->
                                        <div class="col-md-6 col-sm-12 center-div">
                                            <a id="edit_memory_button" class="btn btn-success light-green-one-btn" href="{{ url_for('memories.edit_memory', memory_id=memory._id) }}">Edit</a>
                                        </div>
                                    {% endif %}
                                        <!-- An admin user who memory creator can delete a memory -->
                                        <div class="col-md-6 col-sm-12 center-div">
                                            <button type="submit" id="delete_memory_button" class="btn btn-danger" data-bs-toggle="modal" aria-labelledby="deleteMemoryModal{{ memory._id }}" data-bs-target="#deleteMemoryModal{{ memory._id }}">Delete</button>
                                            <!-- Delete memory modal -->
                                            <div class="modal fade" id="deleteMemoryModal{{ memory._id }}" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="modal-title">Delete Memory</h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this memory?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!-- Close and delete memory buttons -->
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="{{ url_for('memories.delete_memory', memory_id=memory._id) }}" class="btn btn-primary light-green-one-btn">Delete Memory</a>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Pagination -->
            <div class="container">
                <div class="row d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <div class="col-md-6 col-sm-12">
                         {{ pagination.links }} 
                    </div>
                    <div class="col-md-6 col-sm-12" id="pagin-info">
                        {{ pagination.info }}  
                    </div>
                </div>
            </div>  
        </div>     
    </div>
</div>
{% endblock %}