{% extends "base.html" %}

{% block content %}
<body class="hero-image flex-wrapper">
    <div class="container common-holder">
        <div class="h1-header">   
            <h1>Memories</h1>
        </div>
        <div class="container" id="memory-list">
            <!-- Search form -->
            <div class="row">
                <div class="col-4">
                    <div id="myBtnContainer">
                        <a id="get_memories" type="button" class="btn btn-primary" href="{{ url_for('memories.get_memories') }}""> Show all</a>

                    </div>
                </div>  
                <div class="col-4">
                        <a id="get_memory" type="button" class="btn btn-light" href="{{ url_for('memories.add_memory') }}""> Add Memory</a>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>  
            </div>
        </div>    
        <div class="row">
            <!-- Gallery item -->
            {% for memory in memories %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm">
                    <a href="/get_memory/{{ memory._id }}">
                    <img src="/static/images/1200px-Panorama_of_Anfield_with_new_main_stand_29676137824.jpg" alt="" class="img-fluid card-img-top"">
                    </a>
                    <div class="p-4">
                    <h5> <a href="#" class="text-dark">{{ memory.memory_name }}</a></h5>
                    <p class="small text-muted mb-0">Tournament: {{ memory.tournament_name }}</p>
                    <p class="small text-muted mb-0">Description: {{ memory.memory_description }}</p>
                    <p class="small text-muted mb-0">Uploaded By: {{ memory.created_by }}</p>
                    <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
                    <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
                    </div>
                    {% if session.user|lower == memory.created_by|lower %}
                        <a type="button" class="btn btn-success" href="{{ url_for('memories.edit_memory', memory_id=memory._id) }}">Edit Memory</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMemoryModal">Delete Memory</button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="deleteMemoryModal" tabindex="-1" aria-labelledby="deleteMemoryLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteMemoryLabel">Delete Memory</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this memory?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{{ url_for('memories.delete_memory', memory_id=memory._id) }}" class="btn btn-primary">Delete Memory</a>
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
                </div>
            </div>
            {% endfor %}
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        {{ pagination.links }} 
                    </div>
                    <div class="col-6" id="pagin-info">
                        {{ pagination.info }}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}