/* ----- Google Fonts import ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----- Font ----- */

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

h1 {
    font-size: 1.75rem;
    color: green;
}


.btn-primary {
    background-color: green;
    border-color: green;
}

.btn-primary:hover {
    background-color: green;
    border-color: green;
    text-decoration: underline;
}

.btn-primary:focus{
    background-color: green;
    border-color: green;
}

.btn-account {
    background-color: green;
    border-color: green;
    font-size: 1.2rem;
}

.btn-account:hover {
    background-color: green;
    border-color: green;
    text-decoration: underline;
}

.btn-account:focus{
    background-color: green;
    border-color: green;
}

.btn-danger:hover {
    text-decoration: underline;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/static/images/registerBackground.jpg");

  /* Set a specific height */
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


/* Register */
.reg-holder {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    max-width: 680px;
}

#register_text {
    text-align: center;
    margin-bottom: 15px;
}

#reg-form{
    margin-top: 25px;
}

.submit-holder {
    margin-top: 25px;
    text-align: right;
}



.input_field{
    padding: 10px;
}

.common-body {
    border-top: 1px solid grey;
}

/* Common holder/generic */
.common-holder {
    background-color: white;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}


/* Login */
.login-holder {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    max-width: 680px;
}

.h1-header {
    text-align: center;
    margin-bottom: 15px;
}

#login-body {
    border-top: 1px solid grey;
}

.flex-wrapper {
  display: flex;
  min-height: 110vh;
  flex-direction: column;
  justify-content: space-between;
}


/** Memories page  */
#memory-list{
    padding-top: 20px;
    padding-bottom: 20px;
}


/** Footer */
#site-footer {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Add Memory Page */
.memory-holder {
    background-color: white;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    max-width: 680px;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 15px;
}
.pagination-page-info b {
    color: black;
    background: green;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.pagination ul {
    display:flex;  
  list-style:none;
}

.pagination ul li {
    padding: 20px;
}

.pagination-page-info:first-letter {
    text-transform: uppercase;
}

/* footer https://jsfiddle.net/bootstrapious/c7ash30w/ */

i {
  color: green;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

/* Tournament page */
.card {
    padding: 10px; 
    margin: 20px;
}

/* Tournaments page */
.tournament-holder {
    background-color: white;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;

}

.footer-font {
    font-size: 0.9rem;
}
