{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block nav_dashboard %}active{% endblock %}
{% block content %}
<div class="flex-wrapper"> 
    <div class="container common-holder">
        <!-- Reporting dashboard header-->
        <div class="h1-header">   
            <h1>Reporting Dashboard</h1>
        </div>
        <!-- Reporting dashboard five cards -->
        <div class="row">
            <p class="p-dark text-align-center">Here are some statistics regarding the number of users, memories and comments</p>
            <!-- Number of users -->
            <div class="col col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-users"></i> Number of users</h2>
                    </div>
                    <div class="card-action">
                        <h3 class="card-title">{{number_of_users}}</h3>
                    </div>
                </div>
            </div>
            <!-- Number of tournaments -->
            <div class="col col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-trophy"></i> Number of tournaments</h2>
                    </div>
                    <div class="card-action">
                        <h3 class="card-title">{{number_of_tournaments}}</h3>
                    </div>
                </div>
            </div>   
            <!-- Number of memories -->
            <div class="col col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-images"></i> Number of memories</h2>
                    </div>
                    <div class="card-action">
                        <h3 class="card-title">{{number_of_memories}}</h3>
                    </div>
                </div>
            </div>
            <!-- Number of comments -->
            <div class="col col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-comments"></i> Number of comments</h2>
                    </div>
                    <div class="card-action">
                        <h3 class="card-title">{{number_of_comments}}</h3>
                    </div>
                </div>
            </div> 
            <!-- Number of ratings -->
            <div class="col col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fas fa-star-half-alt"></i> Number of ratings</h2>
                    </div>
                    <div class="card-action">
                        <h3 class="card-title">{{number_of_ratings}}</h3>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
{% endblock %}