{% extends "base.html" %}
{% block content %}
<body class="hero-image flex-wrapper">
    <div class="container common-holder">
        <div class="h1-header">   
            <h1>Reporting Dashboard</h1>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of users</h5>
                </div>
                <div class="card-action">
                    <h5 class="card-title">{{number_of_users}}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of memories</h5>
                </div>
                <div class="card-action">
                    <h5 class="card-title">{{number_of_memories}}</h5>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of comments</h5>
                </div>
                <div class="card-action">
                    <h5 class="card-title">{{number_of_comments}}</h5>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}