{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}
<!-- Hero image -->
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Hero message text -->
                <div class="container" id="hero-message">
                    <h1 id="hero-message-text">Welcome to Football Memories</h1>
                    <p>Football memories is a site that allows fans add, comment and rate football memories.</p>
                    <p>A football memory contains an image, description, date, stadium and tournament name.</p>
                    <p>If you are a new user click Register. Existing users can login by clicking the Login button</p>
                    <!-- Login and Register buttons -->
                    <div> 
                        <a href="{{ url_for('authentication.register') }}" class="btn btn-primary btn-account dark-green-one-btn">Register</a>
                        <a href="{{ url_for('authentication.login') }}"  class="btn btn-primary btn-account light-green-one-btn">Login</a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest memories -->
    <div id="latest-memories">
        <div class="container">
            <h2>Latest Memories Added:</h2>
            <div class="row">
                {% for memory in memories %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="bg-white rounded shadow-sm">
                            <!-- Memory image -->
                            <img src="{{ memory.memory_image }}" alt="memory name {{ memory.memory_name }}" class="img-fluid card-img-top">
                            <!-- Memory text -->
                            <div class="p-4">
                                <h2>{{ memory.memory_name }}</h2>
                                <p class="small text-muted mb-0">Tournament: {{ memory.tournament_name }}</p>
                            </div>
                        </div>
                    </div>    
                {% endfor %}  
            </div>   
        </div>
    </div>    
</div>   
{% endblock %}