{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="flex-wrapper">
    <div class="container common-holder">
        <div class="h1-header">   
            <h1>Privacy Policy</h1>
        </div>
        <!-- Privacy policy-->
        <section>
            <p class="p-dark"><b>Last updated: August 2021</b></p>
            <p class="p-dark">This website is operated by Football Memories and whose registered address is Football Memories (“We”) are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us.</p>
            <p class="p-dark">This policy sets out how we process any personal data we collect from you or that you provide to us through our website.</p>
            <p class="p-dark">We confirm that we will keep your information secure and that we will comply fully with all applicable UK Data Protection legislation and regulations. Please read the following carefully to understand what happens to personal data that you choose to provide to us, or that we collect from you when you visit this site. By visiting our website you are accepting and consenting to the practices described in this policy.</p>
        </section>
    </div>
</div>
{% endblock %}