{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}
<div class="flex-wrapper">
    <div class="container common-holder">
        <div class="h1-header">   
            <h1>Terms and Conditions</h1>
        </div>
        <!-- Terms and conditions -->
        <section>
            <h2>Last updated: August 2021</h2>
            <p class="p-dark">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Football Memories website (the "Service") operated by Football Memories ("us", "we", or "our").</p>
            <p class="p-dark">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
            <p class="p-dark">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
        </section>
    </div>
</div>
{% endblock %}