{% extends "base.html" %}
{% block title %}404 Not found{% endblock %}
{% block content %}
    <div class="flex-wrapper">
        <div class="container common-holder">
            <!-- 404 error page header-->
            <div class="h1-header">
                <h1>404 Not found error page</h1>
            </div>
            <!-- 404 error page section-->
            <section>
                <h2>The page you have requested does not exist</h2>
                <p class="p-dark">Click <a href="{{ url_for('administration.home') }}">here</a> to go back to the home page</p>
            </section>
        </div>
    </div>
{% endblock %}