{% extends "base.html" %}
{% block title %}500 error page{% endblock %}
{% block content %}
{% block content %}
    <div class="hero-image flex-wrapper">
        <div class="container common-holder">
            <!-- 500 error page header-->
            <div class="h1-header">
                <h1>500 error page</h1>
            </div>
            <!-- 500 error page section-->
            <section>
                <p class="p-dark"><b>The page you have requested does not exist</b></p>
                <p class="p-dark">Click <a href="{{ url_for('administration.home') }}">here</a> to go back to the home page</p>
            </section>
        </div>
    </div>
{% endblock %}