{% extends "base.html" %}
{% block content %}

    <h3 class="teal text-darken-4 center-align">Add Memory</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_memory') }}">
            <!-- Tournament selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="tournament_name" name="tournament_name" class="validate" required>
                        <option value="" disabled selected>Choose Tournament</option>
                        {% for tournament in tournaments %}
                            <option value="{{ tournament.tournament_name }}">{{ tournament.tournament_name }}</option>
                        {% endfor %}
                    </select>
					<label for="tournament_name">Tournament</label>
				</div>
            </div>
            <!-- memory name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="memory_name" name="memory_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="memory_name">Memory Name</label>
                </div>
            </div>
            <!-- memory description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="memory_description" name="memory_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="memory_description">Memory Description</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Memory <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}