{% extends "base.html" %}
{% block content %}
<body class="hero-image flex-wrapper">
    <div class="container common-holder">
        <div class="h1-header">   
            <h1>Reporting Dashboard</h1>
        </div>
        <div class="common-body">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of registered users</h5>
                </div>
                <div class="card-action">
                    <h5 class="card-title">10 users</h5>
                </div>
            </div>
    </div>
</body>

{% endblock %}