  
{% extends "base.html" %}
{% block content %}
<body class="hero-image flex-wrapper">
    <div class="container tournament-holder">
        <div id="login-header">   
            <h1>Edit Tournament</h1>
        </div>

        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('edit_tournament', tournament_id=tournament._id) }}">
                <!-- tournament name -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="tournament_name">Tournament Name</label>
                        <input id="tournament_name" name="tournament_name" minlength="3" maxlength="25"
                            type="text" value="{{ tournament.tournament_name }}" class="validate" required>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_tournaments') }}" class="btn btn-danger">
                            Cancel</i>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            Edit tournament <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}