{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">This is a memory</h3>

    <tr>
         <td>{{ memory['memory_description'] }}</td>   
    </tr>

    <img src="/static/images/1200px-Panorama_of_Anfield_with_new_main_stand_29676137824.jpg"  width="300px" height="300px" alt="" >

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                <h4 class="light-blue-text text-darken-4 center-align">Newsest comments are didplayed at the top of the comments list</h4>
                        {% for comment in comments %}
                         <div class="d-flex flex-row user-info">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Posted by: {{ comment.created_by }}</span><span class="date text-black-50">Date: {{ comment.comment_date }}</span></div>
                        </div>   
                        <div class="mt-2">
                        {{ comment.comment_text }}
                        </div> 
                        {% endfor %}

                        {{ pagination.links }}
                         {{ pagination.info }}

<!--
                    <div class="d-flex flex-row user-info">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div> -->



                </div><!--
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                    </div>
                </div>-->  
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_comment', id=memory['_id'] ) }}" class="needs-validation" novalidate>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                        <!--<img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">-->
                        <textarea class="form-control ml-1 shadow-none textarea" name="comment" id="comment"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}