{% extends "base.html" %}

{% block content %}
    <div class="container" id="memory-list">
        <!-- Search form -->
        <div class="row">
            <div class="col-6">
                <div id="myBtnContainer">
                    <a id="get_memories" type="button" class="btn btn-primary" href="{{ url_for('get_memories') }}""> Show all</a>
                    <a id="get_user_memories" type="button" class="btn btn-light" href="{{ url_for('get_user_memories') }}""> My Memories</a>
                </div>

            </div>  
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>  
            </div>
    </div>    

        <div class="row">
        <!-- Gallery item -->
        {% for memory in memories %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
                <a href="/get_memory/{{ memory._id }}">
                <img src="/static/images/1200px-Panorama_of_Anfield_with_new_main_stand_29676137824.jpg" alt="" class="img-fluid card-img-top"">
                </a>
                <div class="p-4">
                <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <p class="small text-muted mb-0">Tournament: {{ memory.tournament_name }}</p>
                <p class="small text-muted mb-0">Name: {{ memory.memory_name }}</p>
                <p class="small text-muted mb-0">Description: {{ memory.memory_description }}</p>
                <p class="small text-muted mb-0">Uploaded By: {{ memory.created_by }}</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
                </div>

            </div>
            </div>
        </div>
        {% endfor %}
        </div>
               {{ pagination.links }}
                {{ pagination.info }}
    
{% endblock %}