{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Manage Tournaments</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_tournament') }}" class="btn btn-primary">Add Tournament</i>
            </a>
        </div>
    </div>

 
<div class="container">

    <div class="row">
        {% for tournament in tournaments %}
                <div class="card" style="width: 18rem;">
                    <img img src="/static/images/premier-league-trophy.jpg"  width="250px" height="200px" alt="...">
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ tournament.tournament_name }}</h5>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_tournament', tournament_id=tournament._id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_tournament', tournament_id=tournament._id) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
        {% endfor %}
    </div>
           {{ pagination.links }}
                {{ pagination.info }}
</div>


{% endblock %}