{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body class="hero-image flex-wrapper-auth">
    <div class="container login-holder">
        <div class="h1-header">   
            <h1>Log In</h1>
        </div>
        <div class="common-body">
            <form method="POST" action="{{ url_for('authentication.login') }}" class="needs-validation" novalidate>
                <div class="row mt-3 form group">
                    <label for="username" class="form-label col-4">Username</label>
                    <div class="col-8">
                        <input class="form-control" id="username" name="username" type="text" aria-describedby="username" required>
                        <div class="valid-feedback">
                        Looks good!
                        </div>
                        <div class="invalid-feedback">
                        Please enter a username
                        </div>
                    </div>    
                </div>
                <div class="row mt-3 form group">
                    <label for="password" class="form-label col-4">Password</label>
                    <div class="col-8">
                        <input type="password" class="form-control" id="password" name="password" type="password" aria-describedby="password"  required>
                        <div class="valid-feedback">
                        Looks good!
                        </div>
                        <div class="invalid-feedback">
                        Please enter a password
                        </div>
                    </div>    
                </div>
                <div class="submit-holder">
                    <button type="submit" class="btn btn-primary btn-account light-green-one-btn">Log In</button>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="center-align p-dark" id="new-here-section">
                    New Here?
                    <a href="{{ url_for('authentication.register') }}" class="light-green-one-text-link">Register Account</a>
                </p>
            </div>
        </div>
    </div>    
</body>
{% endblock %}